# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Flask / project specific
instance/
*.sqlite3

# Environment variables
.env

# IDE / OS specific
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
